.nowrap {
    white-space: nowrap;
}

body.media {
    margin: 0;
    background: black;
    width: 100vw;
    height: 100vh;
}

body.media .alert {
    width: 100%;
    height: 3em;
    background-color: #f99;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 150%;
}

body.media video, body.media audio, body.media img {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

body.media audio {
    width: 100%;
}

.gallery-grid {
    --gallery-media-w: 200px;
    --gallery-media-h: calc(var(--gallery-media-w) * 4/3);

    display: grid;
    grid-template-columns: repeat(auto-fit, var(--gallery-media-w));
    justify-content: center;
    gap: 4px;
}

@media (max-width: 450px) {
    .gallery-grid {
        --gallery-media-w: 150px;
    }
}

.gallery-item {
    width: var(--gallery-media-w);
    height: var(--gallery-media-h);
    overflow: hidden;
    background: #ddd;
    word-wrap: break-word;
}

.gallery-item img,
.gallery-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
