{% extends "base.html" %}
{% block title %}
Files in {{path}}
{% endblock %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for bc in breadcrumbs %}
        {% if bc.last %}
          <li class="breadcrumb-item active" aria-current="page">{{bc.name}}</li>
        {% else %}
          <li class="breadcrumb-item"><a href="{{bc.url}}">{{bc.name}}</a></li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
  {{readme_html}}
  {% if entries %}
    <div class="table-nowrap-outer">
      <table class="table table-nowrap">
        <thead>
          <tr>
            <th style="width: 1em;"></th>
            <th>Name</th>
            <th>Size</th>
            <th>Modified</th>
            <th>Downloads</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in entries %}
          <tr>
            <td>
              <a href="{{entry.url}}" title="{% if entry.is_file %}File{% else %}Folder{% endif %}">
                <i class="far fa-{{entry.icon or 'file'}}"></i>
              </a>
            </td>
            <td><a href="{{entry.url}}">{{entry.name}}</a></td>
            <td>{% if entry.is_file %} {{entry.stat.st_size | humanize_size}} {% endif %}</td>
            <td data-time="{{entry.stat.st_mtime | int}}">{{entry.stat.st_mtime | date_time}}</td>
            <td>{{entry.downloads}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="alert alert-danger">No files found in this folder. <a href="..">Back</a></div>
  {% endif %}
{% endblock %}
